/* Font Google */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgba(12, 3, 27, 0.7);
  background: rgba(76, 201, 240, 0.1);
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-height: 100vh;
}
a {
  color: #61677a;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 100px;
}
.topHeadlines .right .topNews::-webkit-scrollbar {
  width: 6px;
}
.topHeadlines .right .topNews::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
}
#nav__items {
  list-style-type: none;
}
nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #ffffff;
  box-shadow: 0 1rem 1rem rgba(12, 3, 27, 0.1);
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5 {
  color: #ffffff;
  font-size: 24px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container {
  padding: 10px;

  margin: 5px;
}
.container:hover {
  padding: 10px;
  border: 1px 0 1px 0 solid #ccc;
  margin: 5px;
}

.topHeadlines {
  padding: 100px 50px 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.topHeadlines .left {
  padding: 10px 30px;
}
.topHeadlines .left > .title {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
.topHeadlines .left .img {
  width: 100%;
  height: 400px;
  background-color: #61677a;
}
.topHeadlines .left .text {
  padding: 20px 15px 10px;
}
.topHeadlines .left .text .title h2 {
  font-size: 20px;
  letter-spacing: 1px;
  display: inline;
  cursor: pointer;
}
.topHeadlines .left .text .title h2:hover {
  text-decoration: underline;
}
.topHeadlines .left .text .description {
  font-size: 15px;
  margin-top: 10px;
  color: #656565;
  letter-spacing: 1px;
}
.topHeadlines .right {
  padding: 10px;
  width: 1005;
  height: 500px;
  /*background-color: #d8d9da;*/
}
.topHeadlines .right > .title {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
.topHeadlines .right .topNews {
  padding: 7px;
  height: 85%;
  border: 2px solid #61677a;
  border-radius: 4px;
  overflow-y: scroll;
}
.topHeadlines .right .topNews .news {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 20px;
}
.topHeadlines .right .topNews .news .imgs {
  width: 170px;
  height: 120px;
  background-color: #61677a;
}

.topHeadlines .right .topNews .news .text {
  margin-inline: 10px;
}
.topHeadlines .right .topNews .news .text .title {
  cursor: pointer;
}
.topHeadlines .right .topNews .news .text:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  padding: 50px 50px 20px;
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #ffffff;
  min-height: 200px;
}
.footer .box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.footer .box .left {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}
.footer .box .left .categories > p {
  font-size: 28px;
  margin-bottom: 30px;
}
.footer .box .left .categories div {
  margin-bottom: 15px;
  width: max-content;
}
.footer .box .left .categories div p {
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
  border-left: 1px solid linear-gradient(135deg, #480ca8, #4cc9f0);
  border-right: 1px solid linear-gradient(135deg, #480ca8, #4cc9f0);
  transition: 0.3s;
}
.footer .box .left .categories div p:hover {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.footer .contact p {
  font-size: 28px;
  margin-bottom: 30px;
}
.footer .contact div {
  font-size: 17px;
  margin-bottom: 15px;
  color: #e9e8e8;
}
.footer .icon {
  margin-top: 20px;
  padding: 20px;
}
.footer .icon i {
  font-size: 25px;
  margin-right: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.footer .icon i:hover {
  color: #fff;
  transform: scale(1.2);
}
.footer .newsletter p {
  font-size: 28px;
  margin-bottom: 30px;
}
.footer .newsletter .email {
  display: flex;
}
.footer .newsletter .email input {
  width: 400px;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 20px;
}
.footer .newsletter .email button {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.footer .newsletter .email button:hover {
  color: #0a0a18;
  background-color: #fff;
}
.footer .copyrights {
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
}
.topNews .news .text .meta {
  font-size: 14px;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 10px;
}

.topNews .news .text .meta .author {
  margin-right: 10px;
}

.topNews .news .text .meta .date {
  font-style: italic;
}
.imgs {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  z-index: 1;
}

.imgs img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#likeBtn {
  cursor: pointer;
  font-size: 24px;
}

#likeCount {
  margin-left: 10px;
  font-size: 18px;
}
