body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #f1f0e8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96b6c5;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #adc4ce;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-image {
  flex: 1;
}

.team-image {
  width: 50%;
  border-top-left-radius: 20vh;
  border-bottom-left-radius: 20vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: right;
}
.button {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #b6e1f4;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
}
.hero-text button:hover {
  background-color: #6dc7f1;
  transition: 0.5s;
}

/*
count
*/

.count-container {
  position: relative;
  top: -20%; /* Geser ke atas sebanyak 20% */
  background-color: #adc4ce;
}

.box {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.collase {
  border: 2px solid #b6e1f4;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
.collase p {
  color: #000;
  text-decoration: none;
}
.purecounter {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Media query untuk tampilan layar yang lebih kecil */
@media (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
  }
}
/* 
About
*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
  text-decoration: none;
  padding: 20px 30px;
}

.about img {
  max-width: 40%;
  flex: 1;
  align-items: center;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
